.home {
    display: flex;
    flex-direction: column;
    height: 1000vh;
    &__logo {
        font-size: 3rem;
        font-family: 'Stylish', sans-serif;
        align-self: flex-start;
        margin: 2rem 5rem;
        // border: 2px solid black;
        padding: 0 1rem;
        span {
            color: $light-coral;
        }
    }
    &__header {
        background: $light-grey1;
        height: 80vh;
        display: flex;
        position: relative;
        margin: 0 5rem;

        // .overlay {
        //     height: 100%;
        //     width: 50%;
        //     background: #ff5851;
        //     position: absolute;
        //     left:  0;
        //     top: 0;
        // }
        &--left {
            width: 50%;
            background: $light-coral;
            display: flex;
            &__heading {
                text-align: center;
                color: white;
                font-size: 2rem;
                font-family: 'Monoton', cursive;
                font-weight: 100;
                text-transform: lowercase;
                width: 438px;
                height: 343px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                svg {
                    width: 100%;
                    height: 100%;
                    fill: #1c1b20;
                }
            }
        }
        &--right {
            flex: 1;
            background: $light-grey1;
            // background: url('../images/joe.jpg');
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: center;
        }


    }
}